<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars the Planet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
h1 {color: blue;}
img {box-shadow: 10px 10px 5px black;}

</style>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Explore Mars through Data</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <div class="container text-center">
      <h1 class="jumbotron">Latest Mars News</h1>
    <h3> {{ planet.news_names1.title }}</h3>
    <h3> {{ planet.news_names1.teaser }}</h3>
  </div>
    <div class="container text-center">
      <h1 class="jumbotron">Featured Mars Image</h1>

    <img src="{{ planet.mars_image }}" alt="Mars Image">


    </div>
    <div class="container text-center">    
      <h1 class="jumbotron col-md-12 col-sm-12"> Mars Facts</h1> 

    <table class="overflow-auto" border="1" class="dataframe">
      <!-- <tr>
        <th>header1</th>
        <th>header2</th>
        <th>header3</th>
      </tr>

      {% for i in mars_factors %}
      <tr>
        <td> {{ i.data }} </td>
        <td> data2</td>
        <td>data3</td>
      </tr>
      {% endfor %}
        <tr style="text-align: right;"> --> -->
    {{ planet.mars_table}}
    <!-- </tr>
    </tbody> -->
    </table>

    </div>
    </div>

    <div class="container text-center">
      <h1 class="jumbotron">Mars Hemispheres</h1>
      <div>
        <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
          {% for item in planet.hemisphere_info %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <img src= "{{ item.img_url }}" alt='Hemisphere Image' width="300" height="300" >
                  </div>
                </div>
            </div>
            {% endfor %}

      </div>
    </div>

    <h3></h3>
    <h3></h3>

  </div>
  </div>
</body>

</html>
