<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars the Planet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
h1 {color: blue;}
img {box-shadow: 10px 10px 5px black;}

</style>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Explore Mars through Data</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <h2>Latest Mars News:</h2>
    <h3> {{ planet.news_names1.title }}</h3>
    <h3> {{ planet.news_names1.teaser }}</h3>

    <h2>Featured Mars Image:</h2>
    <img src="{{ planet.mars_image }}" alt="Mars Image">

    <h2>Mars Facts:</h2>
    <div class="container">    
      <div class="jumbotron col-md-12 col-sm-12">

    <table class="overflow-auto" border="1" class="dataframe">
      <tr>
        <th>header1</th>
        <th>header2</th>
        <th>header3</th>
      </tr>

      {% for i in mars_factors %}
      <tr>
        <td> {{ i.data }} </td>
        <td> data2</td>
        <td>data3</td>
      </tr>
      {% endfor %}
        <tr style="text-align: right;"> -->
    {{ planet.mars_table}}
    </tr>
    </tbody>
    </table>

    </div>
    </div>



    <h2>Mars Hemispheres:</h2>
    <div>
      <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
        {% for item in inventory %}
        <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ item.type }}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Cost: {{ item.cost }}</h6>
                  <p class="card-text">Potential Revenue: {{ item.cost * item.stock}}</p>
                </div>
              </div>
          </div>
          {% endfor %}

    </div>

    <h3>{{ planet.hemisphere_info }}</h3>
  </div>
  </div>
</body>

</html>
